* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
}

.all {
    display: flex;

    margin-left:  20px ;
    color: rgb(181, 214, 243);
}

.new_game_div {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}

.button_scene1 {
    width: 200px;
}

.cell {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    border-style: soid;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    text-align: center;
    
    font-size: 100px;
    line-height: 100%;
    user-select: none;
    
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;

    position: relative;
}

.map_div {
    display: flex;
    margin-top: 100px;
    gap: 10px;
    
    position: relative;
}

.abs {
    
    width: 100px;
    height: 100px;
}

.abs-img {
    position: absolute;
}

.can {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 700px;
    
}