* {
    
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    width: 100%;
    height: 100%;
    z-index: -2200000;
    background-size: cover;
    background-image: url('fon2.webp');
   
    
}

.all {
    
    display: flex;
    
    margin-left:  20px ;
    color: rgb(181, 214, 243);
    
    
}

.new_game_div {
    
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}

.button_scene1 {
    width: 200px;
}

.cell {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    border-style: soid;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    text-align: center;
    
    font-size: 100px;
    line-height: 100%;
    user-select: none;
    
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;

    position: relative;
}

.map_div {
    display: flex;
    margin-top: 200px;
    gap: 10px;
    
    position: relative;
}

.abs {
    
    width: 100px;
    height: 100px;
}

.abs-img {
    position: absolute;
}

.can {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 700px;
    
}

.button1 {
    width: 100%;
    height: 100%;
    font-size: 30px;
    border-radius:10px ;
    border: solid, 3px;
    background-color: rgb(2, 221, 9);
}

.div1 {
    position: absolute;
    width: 200px;
    height: 50px;
    right: 50%;
    bottom: 30%;
}

.fight_div {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.moves, .arts, .center {
    margin: 40px;
    border: solid;
    border-radius: 0px;
    border-color:black ;
    width: 129px;
    height: 629px;
    background-color: white;
}

.center {
    width: 800px;
}

.fight_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.move{
    width: 128px;
    height: 125px;
}

.button2 {
    width: 100%;
    background-color:rgb(188, 128, 0) ;
    font-size: 30px;
}
.enemy, .enemy_hp, .hp, .next {
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 0px;
    border-color: black;
    background-color: rgba(164, 255, 177, 0.741);
}

.enemy{
    height: 400px;
    
}

.enemy_hp {
    height: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(0, 251, 63);
    
}

.hp {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 73, 73);
}
.next{
    width: 100%;
    height: 100px
}
.number_hp {
    width: 5%;
    height: 44px;
    font-size: 30px;
    color: black;
}