* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#window {
    width: 409px;
    height:75px;
    border: 2px solid black;
    padding: 20px 10px;
    margin-bottom: 3px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 25px;
}

#calculator {
    width: 429px;
    padding: 10px
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 3px;
}

button {
    width: 100px;
    height: 100px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
}

.close {
    width: 409px;
    height: 100px;
}

.center {
    display: flex;
    justify-content: center;
}